# Ignore .avl files and .txt files
*.avl
*.txt

# Ignore XFOIL output files
*.bl

# Ignore Python-generated directory
/__pycache__

# Ignore data directories
/bwb
/cylinders

# Ignore AVL and XFOIL
avl
xfoil

# Ignore my code
quietanalyze.py

# Ignore my shell scripts
analyze
sensitivity
graph
sweepanalyze
thickanalyze